{% include "header.html" %}

<div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center" bis_skin_checked="1">
    <div class="list-group" bis_skin_checked="1">
        <div class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <div class="d-flex gap-2 w-100 justify-content-between" bis_skin_checked="1">
                <div bis_skin_checked="1">
                    <h6 class="mb-0">Course title</h6>
                    <p class="mb-0 opacity-75">Teacher</p>
                </div>
                <small class="opacity-50 text-nowrap">Units</small> 
            </div>
        </div>
    </div>
</div>

<!-- div contents will change depending on the usertype and api endpoint-->
<!-- for example, if student and on my courses endpoint, list all enrolled courses
 if on list of courses endpoint, list all courses available-->